{% load render_bundle from webpack_loader %}
<html>
    <head>
      <meta charset="UTF-8">
      <title>Example</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
      <script>
        window.initialData = JSON.stringify({{users|safe}});
      </script>     
    </head>
  
    <body>
      <div id="react-app"></div>
      <!-- <div id="header" style="display: none;">{{users|safe}}</div> -->
      {% render_bundle 'main' %}

    </body>
  </html>